<p><h1>Welcome to rock paper shutup.</h1>
<h3>pick something to throw</h3><br>
<form method="LINK" action = "<%= rps_throw_path('Boulder') %>"><input type="submit" value="Boulder"></form><form method="LINK" action = "<%= rps_throw_path('Pliers') %>"><input type="submit" value="Pliers"></form><form method="LINK" action = "<%= rps_throw_path('TPS Report') %>"><input type="submit" value="TPS Report"></form>
</p>