<h1>Prepare yourself... <h1 class=b>FOR SOME REAL LIFE BLACKJACK!!!</h1>
<p>You need to get 21. If you go over, you lose, if you have less than the dealer, you lose.</p>
<h4 class=b><%= link_to "Play now!", bj_path %></h4>