<h1>Prepare yourself... FOR SOME REAL LIFE BLACKJACK!!!</h1>
<p>You need to get 21. If you go over, you lose, if you have less than the dealer, you lose.</p>
<p>If you win... don't worry, you won't...</p>

<%= link_to "Play now!", bj_path %>