<H3>Welcome to RetFlix</H3>
<HR>
Please make a selection:<br>
<br>
<%= link_to "View Movie Database", movies_all_path %><br>
<%= link_to "Add New Movie", new_movie_path %><br>
<br>
<%= render "search" %>